h1,
h3 {
  font-family: "Raleway", sans-serif;
  line-height: 140%;
  letter-spacing: 0.02em;
}

h2,
h4,
h5,
h6,
p,
.p-bold,
.btn-font,
.card-btn {
  font-family: "Noto Sans", sans-serif;
  line-height: 140%;
  letter-spacing: 0.02em;
}

h1,
h2 {
  line-height: 110%;
}

h3,
h4,
h5,
h6,
p,
.btn-font,
.p-bold,
.card-btn {
  line-height: 140%;
}

h1 {
  font-weight: 500;
  font-size: 55px;
}

h2 {
  font-weight: 500;
  font-size: 40px;
}

h3 {
  font-weight: 500;
  font-size: 25px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
}

h5,
.btn-font {
  font-weight: 400;
  font-size: 20px;
}

h6,
.checkbox-label,
.card-btn {
  font-weight: 400;
  font-size: 14px;
}

p,
.p-bold {
  font-size: 17px;
}

p {
  font-weight: 500;
}

.p-bold {
  font-weight: 700;
}

:root {
  --BLACK: #191919;
  --WHITE: #f4f4f4;
  --BASIC: #eaeaea;
  --ORANGE: #ff6e40;
  --ORANGE-DARK: #de643e;
}
