@import url("../src/assets/fonts&color.css");
@import url("../src/core/components/header/header.css");
@import url("../src/pages/product/product.css");

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--BLACK);
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.body-container {
  padding-top: 56px;
  margin: 0 auto;
  width: 1444px;
  color: var(--BLACK);
  background-color: var(--BASIC);

  display: flex;
  flex-direction: column;
  gap: 98px;
}



input[type="checkbox"] {
  border: 1px solid var(--BLACK);
  background-color: transparent;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
}



select {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  width: 130px;
}



button {
  cursor: pointer;
}

.basic-btn,
.second-btn {
  width: 277px;
  height: 58px;
  border-radius: 50px;
}

.basic-btn {
  background-color: var(--BLACK);
  color: var(--WHITE);
  transition: 0.3s;

  &:hover {
    background-color: var(--ORANGE);
    color: var(--BLACK);
  }
}

.second-btn,
.card-btn {
  background-color: transparent;
  color: var(--BLACK);
  border: 1px solid var(--BLACK);
  transition: 0.3s;

  &:hover {
    color: var(--WHITE);
    background-color: var(--BLACK);
  }
}

.card-btn {
  width: 142px;
  height: 42px;
  border-radius: 50px;
}