@import url("../src/assets/fonts&color.css");
@import url("../src/core/components/header/header.css");

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--BLACK);
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.body-container {
  padding-top: 56px;
  margin: 0 auto;
  width: 1444px;
  color: var(--BLACK);
  background-color: var(--BASIC);

  display: flex;
  flex-direction: column;
  gap: 88px;
}