@import url("../../assets/fonts&color.css");

* {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: var(--BLACK);
  text-decoration: none;
}

html {
  background-color: var(--BASIC);
}

button {
  cursor: pointer;
}

a .basic-btn,
.basic-btn,
.second-btn {
  width: 277px;
  height: 58px;
  border-radius: 50px;
}

a .basic-btn,
.basic-btn {
  background-color: var(--BLACK);
  color: var(--WHITE);
  transition: 0.3s;

  &:hover {
    background-color: var(--ORANGE);
    color: var(--BLACK);
  }
}

.second-btn,
.card-btn {
  background-color: transparent;
  color: var(--BLACK);
  border: 1px solid var(--BLACK);
  transition: 0.3s;

  &:hover {
    color: var(--WHITE);
    background-color: var(--BLACK);
  }
}

.product-path {
  text-transform: uppercase;
  font-size: 300;
}

.product-container__wrapper {
  display: flex;
  justify-content: center;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.product-container__product-path {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
}

.product-info__wrapper {
  height: 500px;
  display: flex;
  gap: 64px;
  width: 1444px;
}

.product-info__img {
  display: flex;
  gap: 19px;
}

.product-info__items {
  display: flex;
  flex-direction: column;
  gap: 14.33px;

  img {
    cursor: pointer;
    width: 152px;
    height: 114px;
    object-fit: cover;
  }
}

.product-info__item-big {
  width: 527px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--WHITE);

  img {
    height: auto;
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
  }
}

.product-info__product-text-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.product-text-info__main-info,
.product-text-info__params,
.product-text-info__btn-block {
  display: flex;
  flex-direction: column;
}

.product-text-info__main-info {
  gap: 4px;
}

.product-text-info__params {
  gap: 9.5px;
}

.product-text-info__btn-block {
  gap: 16px;
  align-items: center;
}